img {
    width: 600px;
    height: 600px;
    display: inline-block;
    border-radius: 200px;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 100px;
}

body {
    text-align: center;
    color: white;
    background-color: #d3f9bc;
    font-family: 'Brush Script MT', cursive;
    font-family: Verdana;
}

.box {
    border: solid;
    background-color: green;
}


.facebook {
    font-size: 30px;
}

.whatsapp {
    font-size: 30px;
}

.telegram {
    font-size: 30px;
}
